<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678477294551-h8qrl7fvbgkg9qtahgiitpcptd6f0h7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678477294551-h8qrl7fvbgkg9qtahgiitpcptd6f0h7q</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Cy88d5EYK61Wk9ZGs54WEEpQM6e1raA</string>
	<key>GCM_SENDER_ID</key>
	<string>678477294551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>expo.restroom-adviser</string>
	<key>PROJECT_ID</key>
	<string>restroom-adviser-1565031945059</string>
	<key>STORAGE_BUCKET</key>
	<string>restroom-adviser-1565031945059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678477294551:ios:d7d46eb7544b0f96</string>
	<key>DATABASE_URL</key>
	<string>https://restroom-adviser-1565031945059.firebaseio.com</string>
</dict>
</plist>